In [1]:
DATA_DIR = "../input/ventilator-pressure-prediction/"

In [2]:
import os
import gc
import sys
import json
import math
import random
from time import time
from datetime import datetime
from collections import Counter, defaultdict

import scipy as sp
import numpy as np
import pandas as pd

In [3]:
# ====================================================
# Data Loading
# ====================================================
train = pd.read_csv(DATA_DIR + 'train.csv')
test = pd.read_csv(DATA_DIR + 'test.csv')
sub = pd.read_csv(DATA_DIR + 'sample_submission.csv')

display(train.head())
display(test.head())
display(sub.head())

   id  breath_id   R   C  time_step       u_in  u_out   pressure
0   1          1  20  50   0.000000   0.083334      0   5.837492
1   2          1  20  50   0.033652  18.383041      0   5.907794
2   3          1  20  50   0.067514  22.509278      0   7.876254
3   4          1  20  50   0.101542  22.808822      0  11.742872
4   5          1  20  50   0.135756  25.355850      0  12.234987

   id  breath_id  R   C  time_step       u_in  u_out
0   1          0  5  20   0.000000   0.000000      0
1   2          0  5  20   0.031904   7.515046      0
2   3          0  5  20   0.063827  14.651675      0
3   4          0  5  20   0.095751  21.230610      0
4   5          0  5  20   0.127644  26.320956      0

   id  pressure
0   1         0
1   2         0
2   3         0
3   4         0
4   5         0

In [4]:
for i in [5, 20, 50]:
    output_dir = DATA_DIR+f'R_{i}/'
    os.makedirs(output_dir, exist_ok=True)
    train_r = train[train['R']==i]
    test_r = test[test['R']==i]

    test_ids = test_r['id'].values.tolist()

    sub_r = sub[sub['id'].isin(test_ids)]

    print('R=',i)
    print('train: ',len(train_r))
    print('test: ',len(test_r))
    print('sub: ',len(sub_r))
    print()

    train_r.to_csv(output_dir+'train.csv', index=False)
    test_r.to_csv(output_dir+'test.csv', index=False)
    sub_r.to_csv(output_dir+'sample_submission.csv', index=False)

R= 5
train:  1988800
test:  1306800
sub:  1306800

R= 20
train:  1637120
test:  1110400
sub:  1110400

R= 50
train:  2410080
test:  1606800
sub:  1606800

In [5]:
for i in [10, 20, 50]:
    output_dir = DATA_DIR+f'C_{i}/'
    os.makedirs(output_dir, exist_ok=True)
    train_r = train[train['C']==i]
    test_r = test[test['C']==i]

    test_ids = test_r['id'].values.tolist()

    sub_r = sub[sub['id'].isin(test_ids)]

    print('C=',i)
    print('train: ',len(train_r))
    print('test: ',len(test_r))
    print('sub: ',len(sub_r))
    print()

    train_r.to_csv(output_dir+'train.csv', index=False)
    test_r.to_csv(output_dir+'test.csv', index=False)
    sub_r.to_csv(output_dir+'sample_submission.csv', index=False)

C= 10
train:  2244720
test:  1504800
sub:  1504800

C= 20
train:  1819600
test:  1203360
sub:  1203360

C= 50
train:  1971680
test:  1315840
sub:  1315840